<div>
  <h2>Contacts</h2>
</div>
<div>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
      </div>
    </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
        <th scope="col">Picture</th>
        <th scope="col">Birthdate</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacts of contactsModel.contacts | filters: searchString">
        <th scope="row">{{contacts.id}}</th>
        <td>{{contacts.firstname}}</td>
        <td>{{contacts.lastname}}</td>
        <td>{{contacts.age}}</td>
        <td>{{contacts.birthdate}}</td>
        <td>
          <img [src]='contacts.profilePicture' alt="picture">
        </td>
        <td>
          <button class="btn btn-primary" (click)="editContact(contacts.id)">Edit</button>
          <button class="btn btn-info" (click)="viewDetails(contacts.id)">Info</button>
          <button class="btn btn-danger" (click)="deleteContact(contacts.id)">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>

</div>
