<form [formGroup]="newForm" (ngSubmit)="saveNew(newForm)" style="text-align: center;">
  <div class="form-group row" *ngFor="let field of form">
    <label class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-4" [ngSwitch]="field.type">
      <input *ngSwitchCase="'text'" [type]='field.type' [ngClass]="{'is-invalid':newForm.controls[field.key].invalid && submitTried}"
        class="form-control" [name]="field.key" [placeholder]="field.label" [formControlName]="field.key">
      <my-date-picker *ngSwitchCase="'date'" [options]="field.options" [formControlName]="field.key" [ngModel]="">
      </my-date-picker>
      <div *ngIf="newForm.controls[field.key].invalid && submitTried" class="invalid-feedback">
        Obavezno polje {{field.label}}
      </div>
    </div>
  </div>
</form>
<button type="submit" class="btn btn-primary" style="float:right;">Save</button>
