/* You can add global styles to this file, and also import other style files */
td {
    border-right: 1px solid black;
}
tbody{
    border: 1px solid black;
}

img {
    width: 30px;
    height: 30px;
}

.main{
    padding: 0 40px;
}

form, label {
    font-weight: 600;
}

.form-control.is-valid{
    border-color:green;
}

.form-control.is-invalid{
    border-color: red;
}

.valid-feedback{
    color:green;
}

.invalid-feedback{
    color:red;
}

.form-check {
    border-color: red;
    border: 1px solid red;
    overflow: hidden;
    display: inline-block;
    color: red;
    background-color: pink;
    padding: 8px;
}