<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/contacts">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/contacts/new'>New Contact</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a routerLink="/contacts">Home</a></li>
        <li role="presentation"><a routerLink='/contacts/new'>Profile</a></li>
      </ul>
</nav>
