
<div class="card" style="width: 20rem; margin: 0 auto; padding-top: 30px;">
  <img style="height: 100%" class="card-img-top" [src]='contact.profilePicture' alt="pictures">
  <div class="card-body" style="text-align: center;">
    <h2>{{contact.firstname}}</h2>
    <h4>{{contact.lastname}}</h4>
    <h5>Age:{{contact.age}}</h5>
    <h6>Birthdate:{{contact.birthdate}}</h6>
    <button class="btn btn-primary" (click)="editContact(contact.id)">Edit</button>
    <button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
  </div>
</div>