
<form class="container" #form="ngForm" (ngSubmit)='saveContact(form)'>
  <div class="form-group">
      <label>First name</label>
      <input type="text" class="form-control" name="firstname" placeholder="First name" [(ngModel)]="contactsModel.contact.firstname">
  </div>
  <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" name="lastname" placeholder="Last name" [(ngModel)]="contactsModel.contact.lastname">
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="text" class="form-control" name="age" placeholder="age" [(ngModel)]="contactsModel.contact.age">
</div>
<div class="form-group">
  <label>Birthdate</label>
    <input type="text" class="form-control" name="birthdate" placeholder="Birthdate" [(ngModel)]="contactsModel.contact.birthdate ">
</div>
<!-- <div class="form-group">
    <label>Profile picture</label>
      <input type="file"  class="form-control" name="profilePicture" [(ngModel)]="contact.profilePicture"   >
  </div> -->
 
  <button type="submit" class="btn btn-default">Save</button>
</form>
